h1 {
  color: green;
  font-style: italic;
}

.notification {
  color: green;
  padding-top: 3px;
  font-size: 20px;
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .blog {
  border-style: solid;
  padding: 10px;
  margin-bottom: 5px;
} */

.isError {
  color: red;
}